@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

* {
    margin: O;
    padding: 0;
    box-sizing: border-box;

}

/* Define CSS Variables */
:root {
    --primary-color: #007bff; /* Example color */
    --secondary-color: #6c757d; /* Example color */
    --text-color: #333;
}

/* Basic Styles */
body {
    font-family: 'Roboto', sans-serif; /* Use Roboto font */
    font-size: 16px;
    margin: 0;
    padding: 0;
    color: var(--text-color);
}

header {
    background-color: var(--primary-color);
    color: white;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav a {
    color: white;
    text-decoration: none;
    margin-right: 20px;
}

nav a:hover {
    text-decoration: underline;
}

main {
    padding: 20px;
}

.hero {
    position: relative;
    overflow: hidden;
    margin-bottom: 20px;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.hero h1 {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 2.5rem;
    background-color: rgba(255, 255, 255, 0.7); /* Example background color with opacity */
    padding: 20px;
}

article {
    position: absolute;
    top: 400px;
    right: 20px;
    max-width: 300px;
    background-color: rgba(255, 255, 255, 0.7); /* Example background color with opacity */
    padding: 20px;
}

article img {
    float: right;
    width: 100px;
    height: 100px;
    margin-left: 10px;
}

section {
    margin-bottom: 20px;
}

h2 {
    color: blue;
}

footer {
    background-color: var(--secondary-color);
    color: white;
    padding: 10px;
    text-align: center;
}

footer p {
    margin: 0;
}

.sociallinks {
    margin-top: 10px;
}

.sociallinks a {
    margin-right: 10px;
    text-decoration: none;
}

.sociallinks img {
    width: 30px;
    height: 30px;
}
