@import url('https://fonts.googleapis.com/css2?family=font-name&family=optional-2nd-font-name&display=swap');

/* Root variables */
:root {
  --primary-color: #396e94;
  --secondary-color: #e7c24f;
  --accent1-color: #a43312;
  --accent2-color: #381d2a;
  
  --heading-font: 'Arial', sans-serif; /* Example font family */
  --paragraph-font: 'Arial', sans-serif; /* Example font family */
  
  --nav-background-color: #396e94;
  --nav-link-color: #e7c24f;
  --nav-hover-link-color: #a43312;
  --nav-hover-background-color: #381d2a; 
}

/* General styles */
body {
  font-family: var(--paragraph-font);
  margin: 0;
  padding: 0;
  max-width: 960px;
  padding: 20px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--heading-font);
  color: var(--primary-color);
}

p {
  padding: 25px;
}

/* Header styles */
header {
  padding: 20px;
  background-color: var(--accent1-color);
}

/* Navigation styles */
nav {
  background-color: var(--nav-background-color);
  font-size: 1.2rem;
  display: flex;
}

nav a {
  display: block;
  color: var(--nav-link-color);
  text-decoration: none;
  padding: 1rem;
}

nav a:link,
nav a:visited {
  color: var(--nav-link-color);
}

nav a:hover {
  color: var(--nav-hover-link-color);
  background-color: var(--nav-hover-background-color);
}

/* Class Selectors section */
.box {
  margin: 1rem;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 1rem;
  background-color: #ddd;
  color: #000;
}

/* Float profile image to the right */
main img {
  float: right;
}

/* Position the overlay heading on the image */
aside {
  position: relative;
}

aside h2 {
  position: absolute;
  top: 10px;
  left: 10px;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 5px;